<%- include("../partials/header") -%>
<h2>Editing post by <%= report.user.username %> on <%= report.date %></h1>
<form action="/report/<%= report._id %>?method=PUT" method="post">
    <div class="form-group">
        <input type="date" class="form-control" name="date" value="<%= report.date %>" required>
    </div>
    <div class="form-group">
        <textarea name="desc" class="form-control" cols="30" rows="10" required><%= report.desc %></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="submit">
    </div>
</form>
<%- include("../partials/footer") -%>