<%- include("../partials/header") -%>
<h1>This is reports page</h1>

<% reports.forEach(function(report){ %>
    <p>User: <%= report.user %></p>
    <p>Date: <%= report.date %></p>
    <p>Decription: <%= report.desc %></p>
    <a href="/report/<%= report._id %>/edit">Edit</a>
    <form action="/report/<%= report._id %>?method=DELETE" method="post">
        <input type="submit" value="Delete">
    </form>
    <hr>
<% }) %>

<a href="/report/new">New</a>
<%- include("../partials/footer") -%>